body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.section {
    height: 100vh;
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #297373;
    padding: 0 50px;
}

.navigation {
    padding: 10px 0;
    display: flex;
    align-items: center;
} .navigation i {
    font-size: 22px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    box-sizing: border-box;
} .nav .nav-item {
    transition: 0.3s;
    padding: 10px 30px;
    min-width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
} .nav-item:hover {
    cursor: pointer;
    border-color: white;
}

.no-margin {
    margin: 0;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.background-color-platinum {
    background: #E6E6E6;
}