body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.section {
    height: 100vh;
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 30px;
    overflow: hidden;
    background: #297373;
    padding: 10px 50px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
} .nav .nav-item {
    display: inline-block;
}

.no-margin {
    margin: 0;
}

.m-right-15 {
    margin-right: 15px;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.background-color-platinum {
    background: #E6E6E6;
}